.button {
    -fx-background-color: #ADD8E6;
    -fx-opacity: 0.5;
    -fx-border-color: white;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-size: 20px;
}

.button:hover {
    -fx-background-color: #87CEFA;
}

.button:pressed {
    -fx-background-color: #abc4c5;
}

.label {
    -fx-font-size: 30px;
}

.controlOperation {
    -fx-background-color: #6ca2d4;
    -fx-text-base-color: white;
}

.controlOperation:hover {
    -fx-background-color: #7dbefa;
}

.controlOperation:pressed {
    -fx-background-color: #abc4c5;
}

.calculateOperation {
    -fx-background-color: #6ca2d4;
    -fx-text-base-color: white;
}

.calculateOperation:hover {
    -fx-background-color: #7dbefa;
}

.calculateOperation:pressed {
    -fx-background-color: #abc4c5;
}

