@import "global.css";

.button {
    -fx-background-color: -fx-base-button-color;
    -fx-opacity: -fx-base-button-opacity;
    -fx-border-color: -fx-base-button-border-color;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-font-size: 1em;
    -fx-background-insets: 1px;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
}

.button:hover {
    -fx-background-color: -fx-base-button-hover-background-color;
}

.button:pressed {
    -fx-background-color: -fx-base-button-pressed-background-color;
}

.label {
    -fx-font-size: 1.5em;
}

.controlOperation, .calculateOperation {
    -fx-background-color: -fx-secondary-button-color;
    -fx-text-base-color: white;
}

.controlOperation:hover, .calculateOperation:hover {
    -fx-background-color: -fx-secondary-button-hover-background-color;
}

.controlOperation:pressed, .calculateOperation:pressed {
    -fx-background-color: -fx-secondary-button-pressed-background-color;
}
